div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
    h1.center Contact Manager
    //- md-fab-toolbar(md-open='demo.isOpen', count='demo.count', md-direction='left', ui-sref='contact')
    //-   md-fab-trigger.align-with-text
    //-     md-button.md-fab.md-primary(aria-label='menu')
    //-       md-icon(md-svg-src='img/icons/menu.svg')
