<md-dialog ng-cloak>
  <form name="contactform" novalidate="">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Contact</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>First Name</label>
            <input ng-model="contact.firstName" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Last Name</label>
            <input ng-model="contact.lastName">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mobile</label>
            <input ng-model="contact.mobile" type="number" maxlength="10" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Phone Number</label>
            <input ng-model="contact.phone" type="number" maxlength="13">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="contact.email" type="email">
          </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" flex="100">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="deleteContact()">
       Delete
      </md-button>
      <md-button class="md-raised md-primary" ng-click="contactform.$valid ? saveContact(): '' ">
       Save
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
